// variables
@import "theme";

.navbar {
  overflow: hidden;
}
.navbar-left {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  position: relative;
}
.navbar-left .navbar-brand {
  color: $purple !important;
  font-size: 24px;
  font-weight: 200;
}
.navbar-brand > img {
  width: 132px;
  height: 28px;
  margin-right: 4px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar > .container {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .navbar-left {
    width: 100%;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 5px;
  }
  .navbar-mobile {
    padding: 0 15%;
  }
  .navbar-mobile .nav-navbar {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .navbar-left form {
    margin-left: auto;
  }
}
@media (max-width: 575px) {
  .navbar {
    padding: 3px 3px 0 0;
    height: 4.2857em;
  }
  .navbar-left .navbar-brand {
    display: inline-block;
    margin-top: -3px;
  }
  .navbar-left .navbar-brand > span {
    font-size: 16px;
    margin-top: -14px;
    line-height: 1;
    text-align: center;
    display: block;
    width: 100%;
  }
  .navbar-brand > img {
    width: 118px;
    height: 25px;
    margin-left: 0;
  }
  .navbar-left .lookup {
    width: auto;
  }
  .navbar-toggler {
    margin-right: .6rem;
  }
  .navbar-brand {
    margin-right: .5rem;
  }
}

// layout fixes
body > header {
  z-index: 901;
}

// headers backgrounds
.header,
.purple-gradient {
  background-image: linear-gradient(-20deg, darken($purple, 4%) 0%, lighten($purple, 16%) 100%);
}
.header h1 {
  color: #fff;
}
.gray-gradient {
  background-image: linear-gradient(135deg, #f9f7ff 0%, #fff 50%, #f6f3ff 100%);
}

// lookup search input
.lookup {
  position: relative;
  width: 15rem;
  max-width: 100%;
}
// search icon
.lookup::before {
  font-family: 'themify';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\e610";
  position: absolute;
  top: 30%;
  z-index: -1;
  font-size: 1rem;
  left: .7rem;
  color: $color-text-placeholder;
}
.lookup .form-control {
  border: none;
}
.lookup .form-control:focus {
  background-color: $color-bg-lighter;
}
.lookup .form-control:not(:focus) {
  background: none;
  padding-left: 2.1rem;
}

// markdown content
.rendered-content table {
  margin-bottom: 1rem;
  border: 1px solid #f1f2f3;
}
.rendered-content table th,
.rendered-content table td {
  padding: .75rem;
  vertical-align: top;
  text-align: left !important;
}
.rendered-content table th,
.rendered-content table td {
  border: 1px solid #f1f2f3;
}
.rendered-content table tbody tr:nth-of-type(2n) {
  background-color: #fcfdfe;
}
.rendered-content table thead th {
  color: #323d47;
  background-color: #fafbfb;
  font-weight: 400;
}
.rendered-content blockquote {
  font-size: 115%;
  color: $color-text-light;
  padding-left: 1rem;
  border-left: .5rem solid $color-text-lightest;
}

// sidebar
.rendered-summary {
  padding-top: 0;
  padding-bottom: 0;
}
.rendered-summary li {
  font-weight: 400;
  font-size: 97%;
}
.rendered-summary li a:hover {
  color: $purple;
}
.rendered-summary > ul,
.rendered-summary > ol {
  padding-left: 2rem;
}
.rendered-summary li ul,
.rendered-summary li ol {
  padding-left: 1rem;
}
.rendered-summary li * li * li {
  font-weight: 200;
}
.sidebar-sticky.stick,
.sidebar-sticky.is-mobile-wide {
  padding-top: 2rem;
}
.sidebar-sticky.stick:not(.is-mobile-wide) {
  z-index: 1;
  overflow-y: scroll;
}
.sidebar-sticky.stick:not(.is-mobile-wide) > ol:last-of-type,
.sidebar-sticky.stick:not(.is-mobile-wide) > ul:last-of-type {
  padding-bottom: 2rem;
}
@media (max-width: 767px) {
  .sidebar-sticky.stick {
    position: relative !important;
  }
}

// scrollbar styles
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background: none;
}
.ps__thumb-y,
.ps__thumb-x {
  background-color: #000 !important;
  opacity: .1;
}

// anchor links
.anchor-link {
  color: inherit !important;
}
.anchor-link::after {
  transition: .2s linear;
  opacity: 0;
  margin-left: 0.5rem;
  font-weight: 100;
  color: $color-primary;
  content: "#";
  position: absolute;
}
.anchor-link:hover::after {
  opacity: 1;
}

// prims code toolbar
div.code-toolbar > .toolbar a {
  font-weight: 600;
  padding: 5px 10px;
}

// article nav
.move-page {
  position: relative;
  font-weight: 500;
  color: $purple !important;
}
.move-page small {
  text-transform: uppercase;
  color: $color-text-light;
  font-weight: 200;
}
.move-page i {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  margin-top: -1rem;
  opacity: .7;
  color: $color-text-lightest;
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.move-page-prev i {
  left: 0;
  margin-left: 7%;
}
.move-page-next i {
  right: 0;
  margin-right: 7%;
}
.move-page-prev i::before {
  content: "\e629";
}
.move-page-next i::before {
  content: "\e628";
}
.move-page-prev {
  text-align: right;
}
.move-page-col-prev {
  margin-left: 0 !important;
}

// open issue block
.open-issue {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

// utilities
.text-purple {
  color: $purple !important;
}
.min-h-fullscreen {
  min-height: 100vh !important;
}
.hidden {
  display: none;
}

// plugins
@import "refapp";
@import "restform";
