[submodule "src/submodules/ecomplus-store-template"]
	path = src/submodules/ecomplus-store-template
	url = https://github.com/ecomclub/ecomplus-store-template
[submodule "src/submodules/ecomplus-api-docs"]
	path = src/submodules/ecomplus-api-docs
	url = https://github.com/ecomclub/ecomplus-api-docs
[submodule "src/submodules/ecomplus-search-api-docs"]
	path = src/submodules/ecomplus-search-api-docs
	url = https://github.com/ecomclub/ecomplus-search-api-docs
[submodule "src/submodules/ecomplus-graphs-api-docs"]
	path = src/submodules/ecomplus-graphs-api-docs
	url = https://github.com/ecomclub/ecomplus-graphs-api-docs
[submodule "src/assets/plugin/refapp"]
	path = src/assets/plugin/refapp
	url = https://github.com/ecomclub/refapp
[submodule "src/assets/plugin/restform"]
	path = src/assets/plugin/restform
	url = https://github.com/ecomclub/restform
[submodule "src/assets/plugin/twbschema"]
	path = src/assets/plugin/twbschema
	url = https://github.com/ecomclub/twbschema
